html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  
  font-family: Nunito, sans-serif;
  font-size: 1rem;

  background: #222;
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#header {
  display: block;
  position: relative;
  padding: 1rem 0px 5rem 0px;

  border-radius: 0px;
  background: url(../img/header-background.png) center center / cover no-repeat scroll border-box rgba(255, 255, 255, 0.996);
  min-height: 445px;
  border: 0px none rgb(0, 0, 0);
}

.main-text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-subtext {
  font-size: 1.6rem;
  font-weight: 300;
}

.control-label {
  font-size: 1.3rem;
  font-weight: 300;
}

.section {
  width: 100%;
  padding: 3rem 0;
  background-color: white;
}

.section .title {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 3px solid #d1aa14;
}

.section .subtitle {
  display: block;
  font-size: 1.3rem;
}

.benefits img {
  max-width: 70px;
  margin-bottom: 1rem;
}

.btn-custom {
  color: #fff;
  background-color: #d1aa14;
  border-color: #d1aa14;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1.1rem 1.3rem;
}

.btn-disclaimer {
  display: block;
  font-size: 1.3rem;
}

.disclaimer {
  display: block;
  font-size: 1.3rem;
  color: white;
}

.simulations img {
  max-height: 150px;
  margin-bottom: 1rem;
}

.simulations .name {
  color: #d1aa14;
  font-weight: bolder;
  font-size: 1.6rem;
}

.simulations .head {
  display: block;
  color: #d1aa14;
  margin-bottom: 10px;
  font-weight: bolder;
}

.simulations .desc {
}

.products img {
  cursor: pointer;
}

.testemuals img {
  max-width: 180px;
  margin-bottom: 1rem;
}

.testemuals h4 {
  color: #d1aa14;
}

.testemuals p {
  font-style: italic !important;
  font-size: 1.1rem;
  font-weight: 300;
}

.contact img {
  max-width: 180px;
  margin: 0px auto 1rem auto;  
}

.enterpreuner {
  background-color: transparent;
  color: white;
}

.enterpreuner h2 {
  font-size: 55px;
  font-weight: 100;
  line-height: 1.2em;
  margin-top: 1.2em;
}

.enterpreuner .content {
  padding: 30px 20px 0px 20px;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  width: 100%;
}

.text-color {
  color: #d1aa14;
  font-weight: 600;
}

.text-color-red {
  color: red;
  font-weight: 600;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#footer {
  padding: 2rem 0;
  background-color: #efefef;
}	